################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Feature.API/obj/Release/net6.0
/Feature.API/bin
/Feature.API/obj
/Feature.API/Logs
/Feature.AzureAD/bin
/Feature.AzureAD/obj
/Feature.Mapper/bin
/Feature.Mapper/obj
/Feature.AWS.Storage/bin
/Feature.AWS.Storage/obj
/Feature.Azure.Storage/bin
/Feature.Azure.Storage/obj
/Feature.BusinessModel/bin
/Feature.BusinessModel/obj
/Feature.Entity/bin
/Feature.Entity/obj
/Feature.JWT/bin
/Feature.JWT/obj
/Feature.Repository.CodeFirst/bin
/Feature.Repository.CodeFirst/obj
/Feature.Repository.Dapper/bin
/Feature.Repository.Dapper/obj
/Feature.Repository.DBFirst/bin
/Feature.Repository.DBFirst/obj
/Feature.Repository.Interface/bin
/Feature.Repository.Interface/obj
/Feature.Services/bin
/Feature.Services/obj
/Feature.ADONET.DAL/bin
/Feature.ADONET.DAL/obj
/Feature.DAL.Repositories/bin
/Feature.DAL.Repositories/obj
/Feature.UnitTests/bin
/Feature.UnitTests/obj
/.vs
